body {
	background: url(../image/bg.jpg) center no-repeat;
}

h1, h2{
	font-size: 60px;
	font-family: arial;
	text-align: center;
	margin: 10px;
	color: white;
}

button {
	color: white;
	display: block;
	margin: auto;
	border-radius: 3.75rem;
	transition: 0.5s;
	cursor: pointer;
	padding: .5rem 1.5rem;
	border: 1px solid #012880;
	font-size: .5rem;
	font-weight: 600;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}
}

button span {
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

button:hover {
	  transform: translateY(0) scale(2);
}

a {
	text-decoration: none;
}

.container{
	width: 600px;
	margin: auto;
	margin-top: -70px;
}

.container:active {
	cursor: crosshair;
}

.tanah{
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	float: left;
}

.tanah::after{
	content: '';
	display: block;
	width: 200px;
	height: 100px;
	background: url(../image/tanah.png) center no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -22px;	
}

.tikus{
	width: 100%;
	height: 100%;
	background: url(../image/tikus.png) center no-repeat;
	background-size: 60%;
	position: absolute;
	top: 150px;
	transition: top 0.3s;
}

.tanah.muncul .tikus{
	top: 20px;
}
